<h2>View Your Details</h2>

<p><strong> Name: </strong><%= @user.name %></p>
<p><strong> Email: </strong><%= @user.email %></p>

<h2>Edit Your Details</h2>

<div class="section-group">
  <%= form_for @user do |f| %>
      <section>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name, :required => true %>
        </div>
        <div>
          <%= f.label :email %>
          <%= f.email_field :email, :required => true %>
        </div>

        <%= f.submit "Submit" %>
      </section>

  <% end %>

</div>
