<h2>View Your Details</h2>

<p><strong> Name: </strong><%= @user.name %></p>
<p><strong> Email: </strong><%= @user.email %></p>

<h2>Edit Your Details</h2>

<div class="section-group">
  <%= form_for @user do |f| %>
      <section>
        <p>
          <strong><%= f.label :name %></strong>
          <%= f.text_field :name, :required => true %>
        </p>
        <p>
          <strong><%= f.label :email %></strong>
          <%= f.email_field :email, :required => true %>
        </p>

        <%= f.submit "Edit Details" %>
      </section>

  <% end %>

</div>
