<div class="section-group">
  <%= form_for @drumpad do |f| %>
      <section>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name, :required => true, :placeholder => "New Key Set" %>
        </p>
        <p>
          <%= f.label :color %>
          <%= f.text_field :color %>
        </p>
        <%= f.submit "Submit" %>
      </section>

  <% end %>

</div>
