<%= link_to "Click Here To Add More Sounds", new_sound_path %>

<h2><%= @drumpad.name %> (<%= @drumpad.color.capitalize %>)</h2>

<% @sounds.each do |sound| %>
 <div class="song-info">
   <h3><%= link_to sound.name, sound_path(sound.id) %> </h3>
   <p><strong>Key Code</strong> <%= sound.key_code %> </p>
   <p><strong>Key Trigger</strong> <%= sound.key_trigger %> </p>
   <p><span class="url"><%= sound.url %></span></p>
 </div>
<% end %>

<%= link_to "Delete Drumpad", drumpad_path(@drumpad.id), :method => "delete", :class => "delete" %>
