<div class="section-group">
  <%= form_for @sound do |f| %>
    <!-- All the properties are required, since a sound must have all these properties to be usable -->
      <section>
        <p>
          <%= f.label :name %>
          <%= f.text_field :name, :required => true, :placeholder => "Heater-1" %>
        </p>
        <p>
          <%= f.label :key_code %>
          <%= f.number_field :key_code, :required => true %>
        </p>
        <p>
          <%= f.label :key_trigger %>
          <%= f.text_field :key_trigger, :required => true %>
        </p>
        <p>
          <%= f.label "URL" %>
          <%= f.text_field :url, :required => true %>
        </p>
        <p>
          <%= f.label :drumpad_id %>
          <%= f.select :drumpad_id, Drumpad.pluck(:name, :id), :required => true %>
        </p>

          <%= f.submit "Submit" %>
      </section>

  <% end %>

</div>
